<div class="row row-cols-1 row-cols-md-3 g-4">
    <div>
        <p>Bienvenid@ {{this.user.name}}</p>
        <button class="btn btn-primary" id="logout">Logout</button>
        <a href="/api/carts"><button class="btn btn-primary" id="cart">Carrito</button></a>
    </div>
    {{#each products}}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <a href="/api/products/{{this._id}}">
                    <img src="{{this.thumbnail}}" class="card-img-top" alt="imagen del producto" style="width: 200px">
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <h6 class="card-subtitle mb-2 text-muted">{{this.price}} sickles de plata</h6>
                    <button class="btn btn-primary" onclick="agregarProducto('6447260e5632ff6967b9de94', '{{this._id}}')">Agregar al carrito</button>
                </div>
            </div>
        </div>
    {{/each}}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {{#if hasPrevPage}}
                <li class="page-item"><a class="page-link" href={{prevLink}}>Previous</a></li>
            {{/if}}
            <li class="page-item"><a class="page-link" href="#">{{page}}</a></li>
            {{#if hasNextPage}}
                <li class="page-item"><a class="page-link" href={{nextLink}}>Next</a></li>
            {{/if}} 
        </ul>
    </nav>
</div>
<script src="/js/index.js"></script>