<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>{{this.user.name}}</p>
    <p>{{user.name}}</p>
    <p>{{name}}</p>
    <p>{{this.user.first_name}}</p>
    <p>{{user.first_name}}</p>
    <p>{{first_name}}</p>
</div>